@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --container-7xl: 86rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-family: "Baloo 2", sans-serif;
}

body {
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.swiper {
  width: 100%;
  height: 100%;
  background: transparent;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 113%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

/* Mobile specific styles */
@media (max-width: 640px) {
  .parallax-bg {
    height: 100%;
    /* Adjust height for mobile */
  }
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  /* font-size: 14px;
  max-width: 400px;
  line-height: 1.3; */
}

.testimonial-swiper .swiper-wrapper .swiper-slide {
  padding: 0 !important;
}


#loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 100%;
}

.box {
  width: 4px;
  height: 15px;
  background-color: white;
  border-radius: 50px;
  animation: loader 1s linear infinite;
}

#loader1 {
  animation-delay: 0.1s;
}

#loader2 {
  animation-delay: 0.2s;
}

#loader3 {
  animation-delay: 0.3s;
}

#loader4 {
  animation-delay: 0.4s;
}

#loader5 {
  animation-delay: 0.5s;
}
.flashybtn
{
    position: relative;
    background-image: rgba(30, 0, 216, 1)!important;
    animation: gradient 1.5s ease infinite!important;
    z-index: 9999;
    overflow: hidden !important;
    }
.flashybtn:before {
    content: "";
    display: inline-block;
    position: absolute;
    background: rgb(255,255,255);
    width: 30px;
    height: 2em;
    left: 0;
    bottom: 0;
    filter: blur(1.5em);
    animation: 2s glaze infinite;
}
@keyframes glaze{
    from{
        transform: translateX(0) skewX(-15deg);
        opacity:1;
        }
    to {
        transform: translateX(100vw) skewX(-15deg);
        opacity:1;
       }
}

@keyframes loader {

  0%,
  100% {
    height: 20px;
  }

  50% {
    height: 8px;
  }
}